.channelRow {
  display: flex;
  align-items: center;
  width: 65%;

  position: relative;
  left: 265px;
  .channelRow__text {
    display: flex;
    flex-direction: column;
    p {
      color: #606060;
      font-size: 16px;
    }
    h4 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .channelRow__logo {
    height: 120px;
    width: 120px;
    margin: 10px 60px;
  }
}
