.sidebar {
  flex: 0.125;
  height: 100vh;
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: auto;

  .sidebar__subscriptions__title {
    font-size: 14px;
    color: #606060;
    padding: 10px 20px;
  }
  & > hr {
    height: 1px;
    border: 0;
    background-color: lightgrey;
    margin: 10px 0;
  }
}
