.header {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  /*  position: relative; */
  background-color: white;
  .header__left {
    /*  min-width: 30%; */
    display: flex;
    .menu__icon {
      margin-left: 5px;
    }
  }
  .header__logo {
    height: 20px;
    object-fit: contain;
    margin-left: 20px;
  }
  .header__input {
    display: flex;
    align-items: center;
    margin-left: 55px;
    width: 700px;

    .header__input__searchIcon {
      flex: 1;
      border: 1px solid lightgray;
      display: flex;
      align-items: center;
      & input {
        height: 30px;
        width: 100%;
        border: none;
        font-size: 16px;
        padding-left: 10px;
        /*   background-color: rgb(188, 255, 182); */
        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          padding-left: 3px;
          font-size: 16px;
        }
        &:focus {
          outline: indianred;
        }
      }
      a {
        width: 12%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f8f8f8;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
      }
      .header__inputButton {
        font-size: 20px;
        width: 50px !important;
        background-color: #fafafa;

        color: grey;
      }
    }
  }

  .micIconContainer {
    height: 30px;
    display: flex;
    align-items: center;
    .header__input__micIcon {
      position: relative;
      left: 0;
      width: 50px;
    }
  }

  .header__icons {
    display: flex;
    align-items: center;
  }
  .header__icon {
    margin-right: 30px;
    cursor: pointer;
    svg {
    }
    &:nth-child(4) {
      margin-right: 10px;
      width: 32px;
      height: 32px;
    }
  }
}
