.header {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  position: relative;
  /*   background-color: rgb(53, 255, 46); */
  .header__left {
    .menu__icon {
      margin-left: 5px;
    }
  }
  .header__logo {
    height: 20px;
    object-fit: contain;
    margin-left: 20px;
  }
  .header__input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 640px;
    border: 1px solid lightgray;

    .header__input__searchIcon {
      flex: 1;
      border: 1px solid red;
      & input {
        flex: 1;
        border: none;
        background-color: lightpink;
      }
      .header__inputButton {
        width: 50px !important;
        background-color: #fafafa;
        border-left: 1px solid lightgray;
        color: grey;
      }
    }
    .header__input__micIcon {
      position: relative;
      left: 0;
    }
  }

  .header__icons {
    display: flex;
    align-items: center;
  }
  .header__icon {
    margin-right: 30px;
    &:nth-child(4) {
      margin-right: 20px;
    }
  }
}
