.searchPage {
  flex: 0.875;
  background-color: #f9f9f9;
  padding: 20px 20px;
  position: relative;
  .searchPage__filter {
    display: flex;
    align-items: center;
    color: #606060;
    position: relative;
    left: 265px;
    width: 50%;
    svg {
      font-size: 23px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  h2 {
    margin-left: 10px;
    font-size: 15.5px;
  }
  hr {
    position: relative;
    left: 265px;
    height: 1px;
    width: 65%;
    border: 0;
    background-color: lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
