.sidebarRow {
  display: flex;
  align-items: center;
  padding: 8px 25px;
  &:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }
  &:hover > .sidebarRow__icon {
    color: red;
  }
  &:hover > .sidebarRow__title {
  }
  .sidebarRow__icon {
    color: grey;
    font-size: 25px;
  }
  .sidebarRow__title {
    flex: 1;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
  }
}

.sidebarRow.selected {
  background-color: lightgrey;
}
.sidebarRow.selected > .sidebarRow__icon {
  color: red;
}
.sidebarRow.selected > .sidebarRow__title {
  /*  font-weight: bold; */
}
